<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dora ChatBot</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="app-header">
    <h1>Dora ChatBot</h1>
</header>

<main id="chat-container" class="chat-container">
    <div id="message-area" class="message-area">
    </div>
    <form id="message-form" class="message-form">
        <input type="text" id="message-input" class="message-input" placeholder="Type your message...">
        <button type="submit" id="send-button" class="send-button">Send</button>
    </form>
</main>

<footer class="app-footer">
    <p>Version: <span th:text="${version}">unknown</span>, Commit: <span th:text="${buildNumber}">unknown</span></p>
    <a href="https://github.com/michalroziel/DoraChatBot">GitHub</a>
</footer>

</body>
</html>
